// font family
$family: 'Rubik', sans-serif;

//colors
$white: #fff;
$heading-color: #0b0b0b;
$text-color: #282828;
$date-color: #8d8a8a;

// breakpoint

$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';